# Set to true to add assignees to pull requests
addAssignees: true

# A list of reviewers to be added to pull requests (GitHub user name)
# a floating reviewer needs a weight, by default its one
addReviewers: false

reviewers:
    total: 2
    minFixed: 0
    fixed:
        - ankur17
        - AbhijeetKikawat
    floating:
        - tushar8298

# Settings for autoDelete Feature
autoDelete: true

autoDeleteSettings:
    exclude:
        - dev
        - master
    smartDelete: true

# Release drafting
releaseDrafting: false


branchToIssueSettings:
    # will give a warning as comment, if doest not follow the rule
    mandatory: true
    pattern: ^SPRC-[\d]+
    message: "Please follow the ticket link: [ticket](https://springrole.atlassian.net/browse/<%ticket%>)"
    separator: true ## --- as default if true, else no separator is added
    position: TOP. # TOP (default)
    errorMsg: Please consider following the ticket pattern for branch naming  # (default) if mandatory=true

slackWebhook:
    url: https://hooks.slack.com/services/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
    tagReviewers: true
    users:
        ankur17: U0131H79F44
        AbhijeetKikawat: U01GT6VTLQN 
        Manjula: U01J2HKMYLQ
